<div class="page-header">
	<h1>Reset Password</h1>
</div>

<form  ng-hide="reset.hide" name="regForm" ng-submit="reset.savePassword(regData,regForm.$valid,confirmed);" novalidate>
	


	<div ng-class="{ 'has-success': (regForm.firstpassword.$valid && !regForm.firstpassword.$pristine), 'has-error':(!regForm.firstpassword.$valid && !regForm.firstpassword.$pristine)||(!regForm.firstpassword.$valid && regForm.$submitted)}">
    <label>Password:</label>
	<input  ng-disabled="reset.disabled" class="form-control" name="firstpassword" type="password" placeholder="Enter  password" ng-model="firstpassword" ng-minlength="8" ng-maxlength="25" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,30}$/" required>
	<p class="help-block" ng-show="(!regForm.firstpassword.$pristine && regForm.firstpassword.$error.required) || (regForm.$submitted && regForm.firstpassword.$error.required)">This field is empty</p>
<ul class="help-block"  ng-show="(!regForm.firstpassword.$pristine && regForm.firstpassword.$error.pattern) || (!regForm.firstpassword.$pristine &&regForm.firstpassword.$error.minlength)||(!regForm.firstpassword.$pristine && regForm.firstpassword.$error.maxlength)">
   	
   <li>Must contain a special character</li>
   	<li >Must have one lower case and one uppercase alphabets</li>
  <li>Must contain a number</li>
  <li>Length between 8-25</li>
   </ul>
</div>
	<br>


	<div ng-class="{ 'has-success': confirmed && !regForm.confirmpassword.$error.required, 'has-error':(!confirmed && !regForm.confirmpassword.$error.required) || (regForm.confirmpassword.$error.required &&  !regForm.confirmpassword.$pristine) ||(regForm.confirmpassword.$error.required && regForm.$submitted)}">
    <label>Confirm Password:</label>
	<input  ng-disabled="reset.disabled" class="form-control" name="confirmpassword" type="password" placeholder="Re-enter  password" match="{{[firstpassword]}}" ng-model="confirm"  required minlength="1"  ng-change="reset.regData.password=confirm">
	<p class="help-block" ng-show="(!regForm.confirmpassword.$pristine && regForm.confirmpassword.$error.required) || (regForm.$submitted && regForm.confirmpassword.$error.required)">This field is empty</p>
	<p class="help-block" ng-show="!confirmed && !regForm.confirmpassword.$pristine && regForm.firstpassword.$valid">Passwords do not match</p>

</div>
	<br>
	<button  ng-disabled="reset.disabled" class="btn btn-primary"  type="submit">Reset Password</button>



</form>


<div class="jumbotron text-center" ng-show="reset.loading">
	
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>

<br>

<div class="row show-hide-message" ng-show="reset.successmsg">

	<div class="alert alert-success">{{reset.successmsg}}</div>
	</div>


	<div class="row show-hide-message" ng-show="reset.failmsg">

	<div class="alert alert-danger">{{reset.failmsg}}</div>
	</div>