<div class="page-header">
	<h1>User Login</h1>
</div>

<form ng-submit="main.doLogin(loginData);">
	
	<label>Username:</label>
	<input class="form-control" name:"username" type="text" placeholder="Enter  username" ng-model="main.loginData.username">	
    <label>Password:</label>
	<input class="form-control" name:"password" type="password" placeholder="Enter  password" ng-model="main.loginData.password" >
	<br>
	<button class="btn btn-success"  type="submit">Login</button>&nbsp
	<button class="btn btn-primary"  type="button" ng-click="main.facebook();">Facebook</button>
  <button class="btn btn-info"  type="button" ng-click="main.twitter();">Twitter</button>
<button class="btn btn-danger"  type="button" ng-click="main.google();">Google+</button>
</form>

<div class="jumbotron text-center" ng-show="register.loading">
	
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>

<br>



<div class="row show-hide-message" ng-show="main.successmsg">

	<div class="alert alert-success">{{main.successmsg}}</div>
	</div>


	<div class="row show-hide-message" ng-show="main.failmsg">

	<div class="alert alert-danger">{{main.failmsg}}</div>
	</div>
	<div class="row show-hide-message" ng-show="facebook.errorMsg">

	<div class="alert alert-danger">{{facebook.errorMsg}}</div>
	</div>
	<div class="row show-hide-message" ng-show="google.errorMsg">

	<div class="alert alert-danger">{{google.errorMsg}}</div>
	</div>
	<div class="row show-hide-message" ng-show="twitter.errorMsg">

	<div class="alert alert-danger">{{twitter.errorMsg}}</div>
	</div>