<div class="page-header">
	<h1>Advanced Search</h1>
</div>


<br>
<div class="jumbotron text-center" ng-show="management.loading ">
	
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p></div>

   <div class="navbar-form">
	<div clas="form-group">
		<input type="text" name="searchByUsername" placeholder="Search By.." ng-model="searchByUsername">
	
	<button  type="button"  class="btn btn-default">Username</button>
	
	</div></div>
	<div class="navbar-form">
	<div clas="form-group">
		<input type="text" name="searchByEmail" placeholder="Search By.." ng-model="searchByEmail">
	
	<button  type="button"  class="btn btn-default">Email</button>
	
	</div></div>
	<div class="navbar-form">
	<div clas="form-group">
		<input type="text" name="searchByName" placeholder="Search By.." ng-model="searchByName">
	
	<button  type="button" n class="btn btn-default">Name</button>
	
	</div></div>
<br>
<div class="navbar-form">
	<button  type="button"  ng-click="management.advancedSearch(searchByUsername,searchByEmail,searchByName);" class="btn btn-danger">Search</button>
	

	<br><br>
	<div class="btn-group">

		<button type="button" class="btn btn-success">Sort By..</button>
	<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu">
		<li> <a href="#" ng-click="management.sortOrder('username');">Username</a></li>
		<li> <a href="#" ng-click="management.sortOrder('email');">Email</a></li>
		<li> <a href="#" ng-click="management.sortOrder('name');">Name</a></li>
	</ul>
	</div>
</div>

<div ng-show="management.searchLimit==undefined">
	<p><strong>Results:</strong>{{(management.users |filter:advancedSearchFilter | limitTo:management.searchLimit).length}}</p>
	</div>
	<div ng-show="management.sort">
		<p><strong>Sort By:</strong>{{management.sort}}</p>
</div>
<br>



<div class="panel panel-primary">
	<div class="panel-heading">
		<strong>User management</strong>
	</div>
	<table class="table">
<tr >
	<th>Username</th>
	<th>Name</th>
	<th>Email</th>
</tr>
<tr ng-repeat="person in management.users |filter:advancedSearchFilter| limitTo:management.searchLimit |orderBy:management.sort">
	<td>{{person.username}}</td>
	<td>{{person.name}}</td>
	<td>{{person.email}}</td>
	<td>
		<a href="/edit/{{person._id}}">
			<button type="button" ng-show="management.editAccess" class="btn btn-primary">Edit </button>
		</a>
	<a href="#">
			<button type="button" ng-click="management.deleteUser(person.username); " ng-show="management.deleteAccess" class="btn btn-danger">Delete </button>
		
	</td>
	
</tr>

	</table>
</div>



	